*{
    margin:0;
    padding:0;
}

.noto-serif-flower {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:0px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0px;
  font-style: normal;
}
.color{
    color:rgba(233, 90, 8, 1);
}
.color-1{
    color:rgba(0, 0, 0, 0.5);
}
body{
    background-color: rgb(239, 238, 238);
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.nav-spacing,nav{
    width:1140px;
    height:71px;
    gap:590px
}
.display-flex,ul{
    gap:48px;
}
.nav-spacing{
    margin: 30px auto;
}
.nav-pic{
    margin-top: 24.5px;

}
.nav-menu{
    margin-top: 35.5px;
    
    
}
.nav-menu>ul>li{
    list-style: none;
}
.nav-cart{
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    padding-top: 18px;
    padding-bottom: 18px;
   
    
}
#nav-img{
    width: 135px;
    height: 82px;
}
.display-flex,a{
    text-decoration: none;

}
/* .display-flex,li{
    list-style: none;
} */


@media screen and (max-width:430px){
    .vis{
        display: none;
        
    }
    /* body{
        max-width:430px ;
    } */
    .nav-spacing{
        margin:30px auto;
        width: 361px;
        height:38px;
        /* gap:auto; */
    }
    .display-flex{
        gap:30px 16px;
    }
    #nav-img{
       max-width:63px;
        max-height:38px;
        margin-left: 16px;
    }
    .nav-cart{
        padding-top: 7px;
    }

    
}



.display-flower{
    display:flex;
    justify-content:center;
    align-items: center;
    width:1140px;
    height: 461px;
    
    margin:120px auto;
    gap:0px;
}
.f-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;


}
.f-text{
    font-size:22px;
    font-weight: 500;
     
}
.display-flower-div{
    width:570px;
    height:299px;
}
.display-flower-img{
    width: 570px;
    height: 355px;
}

@media  screen and (max-width:430px) {
  .display-flower{
    flex-direction: column-reverse;
    width:430px;

  }
  .display-flower-img,img{
    width: 393px;
    height: 245px;
    margin:0px;
  }
    
    
}

/* our-plant-design */
.our-plant{
    width:1140px;
    height:1186.88px;
    margin: 120px auto;
}
.our-plant-card{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
    width:1140px;
    height:999.88px;
    column-gap: 20px;
    row-gap: 100px;
    
}
.our-plant-description{
    text-align: center;
}
.our-plant-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card{
    width:270px;
    height: 484.84px;
    text-align: center;

}
.card,img{
    width: 270px;
    height: 322.94px;

}
.lily{
    font-size: 22px;
    font-weight: 500px;
    margin-top: 30px;
}
.usd{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
}
.plant-btn{
    width: 270px;
    height:50px;
    background-color: rgba(233, 90, 8, 1);
    color:#FFFF;
    font-size: 16px;
    font-weight: 600px;
    border:none;

}







/* plant-lover-design */

    .plant-lover{
        display: flex;
        width: 1140px;
        height: 597px;
        justify-content: space-between;
        margin: 210px auto;
        align-items: center;
        column-gap:60px;
    }
    .plant-lover-img{
        width: 540px;
        height: 597px;
    }
    .plant-lover-description{
        width: 540px;
        height: 521px;
    }
    .lover-head{
        font-size: 50px;
        font-weight: bold;
    }
    .plant-lover-description,li{
        font-size: 22px;
        font-weight: 400px;
        
        padding-left: 25px;
        list-style: disc;
        

    }








    /* deal section */
    .deal-grid-img{
        display: flex;
        align-items: center   ;
        gap: 20px;
        
        
        
    }
    .deal-grid{
        width: 1140px;
        height:423 ;
        margin: 120px auto;
    }
    .deal-grid-img,img{
        border-radius: 14px;
    }
    .deal{
        text-align: center;
    }
    .bloom-div{
        width: 367px;
        height:423px;
    }
    .bloom{
        width: 367px;
        height: 201px;
    }
    .ana{
        width: 367px;
        height:197px;
    }


    /* colorful branch design */
    .colorful-branch{
        background-image: url(../B12A02-Responsive-Flowers/assets/news-letter-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        ;
        width:1440px;
        height:540px;
        margin:30px auto;
        text-align: center;
        align-content: center;
    }





    /* footer design */
    .footer{
        display: flex;
        justify-content: space-evenly;
    }
    .grid-link{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
