*{
    margin:0;
    padding:0;
}

.noto-serif-flower {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:0px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0px;
  font-style: normal;
}
.color{
    color:rgba(233, 90, 8, 1);
}
.color-1{
    color:rgba(0, 0, 0, 0.5);
}
body{
    background-color: rgb(254, 254, 254);
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.nav-spacing,nav{
    width:1140px;
    height:71px;
    gap:590px;
}
.display-flex,ul{
    gap:48px;
}
.nav-spacing{
    margin: 30px auto;
}
.nav-pic{
    margin-top: 24.5px;

}
.nav-menu{
    margin-top: 35.5px;
    
    
}
.nav-menu>ul>li{
    list-style: none;
}
.nav-cart{
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    padding-top: 18px;
    padding-bottom: 18px;
   
    
}
#nav-img{
    width: 135px;
    height: 82px;
}
.display-flex,a{
    text-decoration: none;

}



@media screen and (max-width:600px){
    .vis{
        display: none;
        
    }
    
    .nav-spacing{
        margin:20px auto;
        width: 361px;
        height:38px;
        /* gap:auto; */
    }
    .display-flex{
        gap:30px 16px;
    }
    #nav-img{
       max-width:63px;
        max-height:38px;
        margin-left: 16px;
    }
    .nav-cart{
        padding-top: 7px;
    }

    
}


/* display flower design */
.display-flower{
    display:flex;
    justify-content:center;
    align-items: center;
    width:1140px;
    height: 461px;
    
    margin:120px auto;
    gap:0px;
}
.f-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;


}
.f-text{
    font-size:22px;
    font-weight: 500;
     
}
.display-flower-div{
    width:570px;
    height:299px;
}
.display-flower-img{
    width: 570px;
    height: 355px;
}

@media  screen and (max-width:600px) {
  .display-flower{
    flex-direction: column-reverse;
    width:430px;
    margin: 20px auto;

  }
  .display-flower-img,img{
    width: 393px;
    height: 245px;
    margin-bottom: 28px;
  }
  .display-flower-div{
    width:361px;
    height: 147px;
  }
  .f-title{
    font-size: 24px;
  }
  .f-text{
    font-size: 14px;
  }
    
    
}

/* our-plant-design */
.our-plant{
    width:1140px;
    height:1186.88px;
    margin:120px auto;
}
.our-plant-card{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
    width:1140px;
    height:999.88px;
    column-gap: 20px;
    row-gap: 100px;
    padding-left: 14px;

    
}
.our-plant-description{
    text-align: center;
}
.our-plant-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card{
    width:270px;
    height: 484.84px;
    text-align: center;

}
.card,img{
    width: 270px;
    height: 322.94px;

}
.lily{
    font-size: 22px;
    font-weight: 500px;
    margin-top: 30px;
}
.usd{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
}
.plant-btn{
    width: 270px;
    height:50px;
    background-color: rgba(233, 90, 8, 1);
    color:#FFFF;
    font-size: 16px;
    font-weight: 600px;
    border:none;

}
@media screen and (max-width:600px) {
    .our-plant-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 60px;
        column-gap: 20px;
        width: 362px;
        height:1474px;
        margin-top: 28px;
        /* margin: auto; */
        
        
    }
    .our-plant{
        
        margin-top:65px;
        width:393px;
        height: 1750px;
        margin-bottom: 0px;
    }
    .card{
        width: 171px;
        height: 340.5px;
        

    }
    .card>img{
        width: 171px;
        height:196px;
        margin-bottom: 30px;
    }
    /* .our-plant-card{
            margin-bottom: 41.5px;
        } */
    .our-plant-description{
        width:393px;
        height:117px;
    }
    .our-plant-heading{
        font-size: 24px;

    }
    .f-text{
        font-size: 14px;
    }
    .plant-btn{
        width:171px;
        height: 50px;
        
    }
    .lily{
    font-size: 16px;
    font-weight: 500px;
    margin-top: 0px;
    
}
  .usd{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
    
}







/* plant-lover-design */

    .plant-lover{
        display: flex;
        width: 1140px;
        height: 597px;
        justify-content: space-between;
        margin: 210px auto;
        align-items: center;
        
    }
    .plant-lover-img{
        width: 540px;
        height: 597px;
    }
    .plant-lover-description{
        width: 540px;
        height: 521px;
    }
    #badge{
        
        width: 286px;
        height: 286px;
        margin-left:-150px;
        margin-top: -540px;
    }
    .badge-div{
        width: 540px;
        height: 597px;
    }
    .lover-head{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .plant-lover-description>ul>li{
        font-size: 22px;
        font-weight: 400px;
        margin-bottom: 15px;
        
        padding-left: 10px;
        list-style: disc;
        width: 540px;
        height: 108px;
        

    }
    @media screen and (max-width:600px) {
        .plant-lover{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width:361px;
            height: 648px;
            margin: 41.5px auto;
            
        }
        
        .plant-lover-img{
        width: 358px;
        height: 396px;
        margin-bottom: 18px;
    }
    .plant-lover-description{
        width: 361px;
        height: 234px;
    }
    .plant-lover-description>ul>li{
        font-size: 14px;
        margin-bottom: 16px;
        width: 361px;
        height: 51px;
    }
    .lover-head{
        font-size: 24px;
        margin-bottom: 16px;
    }
    #badge{
        display: none;
    }
        
    }








    /* deal section */
    .deal-grid-img{
        display: flex;
        align-items: center   ;
        gap: 20px;
        
        
        
        
    }
    .deal-head{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .deal-txt{
        font-size: 22px;
        font-weight: 400px;
    }
    .deal-grid-img{
        width: 1140px;
        height:423 ;
        margin: 120px auto;
    }
    
    .deal-grid-img,img{
        border-radius: 14px;
        
    }
    .deal{
        text-align: center;
    }
    .bloom-div{
        width: 367px;
        height:423px;
    }
    .bloom{
        width: 367px;
        height: 201px;
        background-image: url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:25px ;
        text-align: center;
        align-content: center;
        border-radius: 20px;
    }
    .ana{
        width: 367px;
        height:197px;
        background-image: url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        align-content: center;
        border-radius: 20px;
    }
    .zabo{
        width: 753px;
        height: 423px;
        background-image: url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        align-content: center;
        border-radius: 20px;
    }
    .txt{
        font-size: 20px;
        font-weight: bold;
        color:#FFFF;
        margin-bottom: 10px;
    }
    .txt-1{
        font-size: 16px;
        font-weight: 600px;
        color:#FFFF;
    }

    @media screen and (max-width:600px) {
        .deal-grid-img{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 361px;
            height: 581px;
            margin-top: 51.5px;
        }
        .bloom,.ana{
            width: 361px;
            height: 184.5px;
        }
        .zabo{
            width: 361px;
            height: 172px;
        }
        .deal{
            width:393px;
            height:117px;
        }
        .deal-head{
            font-size: 24px;
        }
        .deal-txt{
            font-size: 14px;
        }
        
    }












    /* colorful branch design */
    .colorful-branch{
        background-image: url(../B12A02-Responsive-Flowers/assets/news-letter-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        ;
        width:1440px;
        height:540px;
        margin:30px auto;
        text-align: center;
        align-content: center;
    }
    .bunch-input{
        width: 644px;
        height: 50px;
        border: none;
    }
    .bunch-input::placeholder{
        font-size: 16px;
        font-weight: 400px;
        color: rgba(0, 0, 0, 0.5);
        padding-left: 10px;
       
    }
    .bunch-btn{
        width:186px;
        height:50px;
        background-color: rgba(233, 90, 8, 1);
        border:none;
        color :#FFFF;
        font-size: 16px;
        font-weight: 600px;
    }
    @media  screen and (max-width:600px) {
        .colorful-branch{
            width:393px;
            height: 275px;
            background-size: cover;
        }
        .colorful-branch>p{
            font-size: 20px;
        }
        .bunch-input{
            width: 218px;
            height: 50px;
        }
        .bunch-btn{
            width: 103px;
            height: 50px;
        }
        
    }





    /* footer design */
    
    .grid-link{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 248px;
        width:398px;
        row-gap: 32px;
        column-gap: 20px;
    }
    .grid-link>li>a{
        font-size: 16px;
        font-weight: 400px;
        color:rgba(107, 114, 128, 1);

    }
    .grid-link>li{
        list-style: none;
    }
    .footer-logo{
        width: 135px;
        height:82px;
    }
    .footer-img{
        width: 216px;
        height: 36px;
    }
    .footer-img>img{
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }
    .footer-div{
        width: 1120px;
        height: 248px;
        display: flex;
        justify-content: space-evenly;
        margin: 50px auto;
    }
    @media screen and (max-width:600px){
        .grid-link{
            grid-template-columns: repeat(1,1fr);
            width: 128px;
            height: 516px;
            row-gap: 5px;
        }
        .grid-link>li>a{
            font-size: 16px;
        }
        .footer-img{
            width: 216px;
            height: 36px;
            margin-top: 20px;
        }
        
        
        
        .footer-div{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin-left: 20px;
            width: 359px;
            height: 765px;
        }
        .footer-logo-div{
            width:359px;
            height: 173px;
            margin-bottom: 20px;
        }
        .footer-logo{
            width: 180px;
            height:109px;
        }
        .footer-div>p{
            font-size: 16px;
        }
        .footer{
            width: 393px;
            height: 865px;
        }
        
        
    }
